# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
brokenclient/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.DS_store
.idea

config.json
playground/
node_modules/
dump.rdb
vscode/
mockTweetData.txt
mockTweetData2.txt
mockTweetData3.txt